.a{
    background-color: rgb(95, 204, 95);
    
}
.b{
    width:500px;
    height:autopx;
    padding:20px 30px;
    border-radius:10px;
    box-shadow:0 0 10px 0;
    margin:auto;
    margin-top: 90px;
    }
.thank{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCb4HGePPRRIkPUtjvfI31bUd9B0tCLeMB-A&usqp=CAU');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.c{
    margin-top: 10px;
    background-color: black;
    padding-top: 10px;
}
.q1{
    width:500px;
    height:autopx;
    padding:20px 30px;
    border-radius:10px;
    box-shadow:0 0 10px 0;
    margin:auto;

}
.f{
    margin: auto;
    padding-left:630px;
}
.g{
    color: whitesmoke;
}
p{
    padding-top: 10px;
}
